@font-face {
    font-family: "Noto Sans";
    src:
        url("../fonts/noto-sans-italic-100.woff2") format("woff2"),
        url("../fonts/noto-sans-italic-100.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
